[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
torch = "*"
install = "*"
huggingface-hub = "*"
diffusers = "*"
accelerate = "*"
black = "*"
sentence-transformers = "*"
python-dotenv = "*"
protobuf = "*"
openai = "*"
tqdm = "*"
pypdf = "*"
faiss-cpu = "*"
unstructured = {extras = ["local-inference"], version = "*"}
chromadb = "*"
langchain = "*"
tiktoken = "*"
gpt4all = "*"
streamlit = "*"
pgvector = "*"
pypdf2 = "*"
altair = "*"
instructorembedding = "*"
htmltemplate = "*"

[dev-packages]

[requires]
python_version = "3.11"
